.language-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  /* Espacio desde el borde superior */
}

.language-text {
  font-family: 'Lexend Giga', sans-serif;
  font-size: 10px;
  margin-bottom: 5px;
  /* Espacio entre el texto y la bandera */
  ;
}

.language-flag {
  width: 67px;
  height: 36px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5vh;
  /* Espacio horizontal en el contenedor general */
}